body {
  background-color: black;
  font-family: verdana;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  color: white;
}
h2 {
  font-size: 16px;
  color: aquamarine;
  font-weight: normal;
  text-decoration: underline;
}

h3 {
  color: white;
  font-size: 42px;
  font-weight: 300;
}

p {
  color: gray;
  font-size: 21px;
}

.Copy {
  text-align: right;
}
